@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #edeef6;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  margin: 0;
  display: grid;
  align-items: center;
  justify-content: center;
}

button {
  background-color: rgb(48, 116, 48);
  border-radius: 5px;
  border: solid 0;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: #fff;
  width: 500px;
  max-width: 100%;
  padding: 25px 50px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: rgb(61, 60, 60);
}
.modal h1 {
  margin: 0;
}
.modal p {
  font-size: 14px;
  opacity: 0.7;
}
.list-container {
  width: 400px;
  height: 300px;
  background-color: rgb(99, 168, 168);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid 2px;
  border-radius: 5px;
  border-color: #fff;
}
.ul li {
  list-style-type: none;
  border: solid 1px;
  border-radius: 5px;
  width: 300px;
  padding: 5px;
  text-align: center;
  border-color: #fff;
}

.ul {
  margin: 0;
  padding: 0;
}
.box-container {
  display: flex;
  justify-content: space-evenly;
}

.boxes.box-1,
.boxes.box-2,
.boxes.box-3 {
  border: 2px solid #092422;
  padding: 30px;
  border-radius: 10px;
}

.hidden-content {
  display: none;
}

.hidden-content.reveal-btn {
  display: block;
}

.div2,
.div1 {
  text-align: center;
  border: solid 1px #092422;
}
.div2 {
  padding: 30px;
  width: 300px;
}
.div1 {
  width: 260px;
  display: flex;
  flex-direction: column;
}
